

.box {
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 20%;
    display: inline-block;
    position: static;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 40px;
    transition: all 0.30s;
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
}

.box-cat {
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 20%;
    display: inline-block;
    position: static;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 40px;
    transition: all 0.30s;
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    background-color: red;
}

.box:hover {
    border-color: #262525;
    background-color: #868686;
    color: white;
}


.board-container {

    margin: 5px;
    padding: 25px;
    position: relative;
    width: 25%;
    border-color: black;
    cursor: pointer;
    transition: all 0.30s;

}

.board-container-cat {
    border: 3px;
    border-style: solid;
    margin: 5px;
    padding: 25px;
    position: relative;
    width: 25%;
    border-color: red;
    text-align: center;
    transition: all 0.30s;

}


.text-container {
    width: 25%;
}

h1 {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

}

h2 {
    visibility: hidden;
    border-top: 1px;
    border-top-style: solid;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;

}

h3 {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

}

.winner {
    visibility: hidden;
}

.winner-text-visible {
    visibility: visible;
}

#score-container {
    width: 25%;
}

#win-box-container {
    font-family: 'Roboto Mono', monospace;
    border: 2px;

}

button {
    border: 1px;
    border-style: solid;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.30s;
    background-color: rgb(221, 219, 219);
}

button:hover {
    background-color: white;
    transition: all 0.30s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);

}