

.board {

    display: flex;
    flex-direction: column;
    border-color: black;

}

.row {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;

}


/* Individual Squares */
.square {
    flex-basis: 5rem;
    height: 5rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    vertical-align: middle;
}

.tan {
    background-color: red;
}

.white {
    background-color: lightgrey;
}

.light {
    height: 85%;
    width: 85%;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border-color:white;
    border-width: 2px;
    border-style:solid;
    box-shadow: 3px 6px;
    vertical-align: middle;

}

.dark {
    height: 85%;
    width: 85%;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    border-color: white;
    border-width: 2px;
    border-style:solid;
    vertical-align: middle;
    box-shadow: 3px 6px;

 
}

.square:hover {
    background-color: green;
}

